<section class="bg-[#006e00ff] px-4 md:px-0 py-12 md:py-16 text-white">
  <div class="max-w-3xl mx-auto">
    <blockquote class="call-to-action-font text-lg md:text-3xl font-medium leading-relaxed mb-6 text-center">
      !Automatiza tus procesos y alcanza tus objetivos!
    </blockquote>
  </div>
</section>