<section id="services" class="px-4 md:px-14 py-14 md:py-20">
  <div class="mx-auto">
    <div class="text-2xl text-2xl md:text-3xl font-bold leading-tight mb-3 tracking-tight">
      Servicios
    </div>
    <p class="text-gray-500 text-sm md:text-lg mb-12">
      Nuestro trabajo está enfocado en la transformación digital y de negocio, pero también ofrecemos consultoría y formación especializada en nuestras metodologías y herramientas.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <img alt="El flujo de la información" class="w-full h-auto rounded-lg custom-shadow mb-0" height="400" src="/flujo_de_la_inforamcion.jpg" width="600"/>
      </div>
      <div class="space-y-8">
        <div>
          <h3 class="text-lg font-semibold mb-1">
            Transformación digital y de negocio
          </h3>
          <p class="text-md text-gray-500 leading-relaxed">
          Automatiza, mejora y transforma los procesos de tu organización. También podemos ayudarte a implementar, de forma rápida y segura, nuevos procesos y servicios.
          </p>
        </div>
        <div>
          <h3 class="font-semibold mb-1">
            Consultoría y formación
          </h3>
          <p class="text-md text-gray-500 leading-relaxed">
            Ofrecemos consultoría y formación especializada en Event Modeling y Event Sourcing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>